doctype html
html
  head
    title Julz Store
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript' src='/js/index.js')
    link(rel='stylesheet' href='/css/foundation.css')
    link(rel='stylesheet' href='/css/stylesheet.css')

  body
    .row
      #main
        #header
          h1 The Shop
      #container
        block content